<h1>{{ caption }}</h1>

<div class="row" *ngIf="queryConfig && queryForm" [formGroup]="queryForm">
  <mat-card>
    <mat-form-field>
      <mat-label>Search By</mat-label>
      <mat-select formControlName="searchCriteria" multiple>
        <mat-option *ngFor="let value of queryConfig.searchAttributes" [value]="value">
          {{createLabel(value)}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput formControlName="search">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Filter By</mat-label>
      <mat-select formControlName="filter">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let value of queryConfig.filterValues" [value]="value">
          {{createLabel(value) }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>
</div>
<br />


<div class="mat-elevation-z8" *ngIf="data && columnConfig">
  <table mat-table matSort [dataSource]="data.results" matSort (matSortChange)="onSortChanges($event)">
    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column.key">

      <ng-container *ngIf="column.sortable">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'width' : column.columnWidth }">
          {{column.label}} </th>
      </ng-container>
      <ng-container *ngIf="!column.sortable">
        <th mat-header-cell *matHeaderCellDef ngStyle]="{'width' : column.columnWidth }"> {{column.label}} </th>
      </ng-container>

      <td mat-cell *matCellDef="let row"> {{row[column.key]}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnKeys"></tr>
    <tr mat-row *matRowDef="let row; columns: columnKeys" (click)="openRowDialog(row)">
    </tr>
  </table>

  <mat-paginator (page)="onPageChange($event)" [pageIndex]="query.page.number - 1" [pageSize]="query.page.size"
    [pageSizeOptions]="[5, 10, 20, 100]" [length]="data.count"></mat-paginator>
</div>