.mat-row {
    cursor: pointer;  

    @media only screen and (min-width: 576px) {
        &:hover { 
            background-color: #ddd;
        }
    }
}

td.mat-cell {
    padding: 0 5px;
}

th.mat-header-cell {
    color: unset;
    font-size: unset;
}

@media only screen and (max-width: 575px) {
    tr:nth-child(even) {
        background: #eae7e7;
        outline: 1px solid #ada9a9;
    }

    tr td:first-child {
        font-weight: bold;

    }

    td.mat-cell {
        display: block;
        padding: 10px;
        text-align: center;
    }

    table.mat-table {
        width: 100%;
    }

    ::ng-deep thead {
        display: none;
    }
}
